$text-clr: #000;
$bg-clr: #fff;
$header-bg-clr: #d9d9d9;
$menu-link-clr: #1755cc;
$menu-link-active-clr: #000;
$balance-clr: #4a88e6;
$slide-text-clr: #fff;
$slide-btn-clr: #0000ff;
$sidebar-text-clr: #999;
$form-border-clr: #999;
$form-border-active-clr: #1755cc;
$form-border-error-clr: #d10808;
$form-field-bg-clr: transparent;
$form-placeholder-clr: #999;
$form-text-clr: #000;
$form-label-clr: #000;
$form-error-text-clr: #d10808;
$form-btn-bg-clr: #0000ff;
$form-btn-text-clr: #fff;
